.resume-wrapper {
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;

    .resume-header{
        & h1 {
            text-align: center;
            margin: 30px
        }
        .resume-horiz {
            display: flex;
            justify-content: space-evenly;

            & div{
                width: 50%;
                text-align: center;
            }
        }
        .r-hdr-content {
            text-align: center;
        }
        .r-hdr-item{
            font-size:14px;
            line-height: 22px;
            margin: 0 28px;
        }
    }

    .resume-body {
        display: flex;
        flex-direction: column;

        h2 {
            line-height: 36px;
            border-bottom: 1px #ffd860 solid;
        }

        .r-skill-wrapper{
            text-align: center;

           .r-skill{
                font-size:14px;
                line-height: 28px;
                font-weight: 700;
                margin: 0 18px;
            }
        }
        .r-date{
            margin-left: 20px;
        }
        .resume-horiz {
            display: flex;
            justify-content: space-between;
        }
    }
}